

.filterSection{
    background-image: url("https://res.cloudinary.com/dmpgjexg4/image/upload/e_blur:450,o_65/v1639038538/pexels-eneida-nieves-905847_bnz7kc.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 350px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.headerText{
    color: white;
}
// Legacy CSS below
.container {
    position: relative;
    min-height: 100vh;
}

.filterContainer {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.RestaurantCard {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

