

.filterSection{
    background-color: #041f42;
    padding-top: 40px;
    padding-bottom: 20px;
}

.headerText{
    color: white;
}
// Legacy CSS below
.container {
    position: relative;
    min-height: 100vh;
}

.filterContainer {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.RestaurantCard {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}