
  .App {
      color: #f21e08

  }
  .container {
      color: #f21e08;
      background-color: #f21e08;

  }
  
  .errorMsg {
    max-width: 350px;
    color: #f21e08;
    padding: 2px 0;
    margin-top: 2px;
    font-size: 14px;
    font-weight: 300;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    border: 1px solid #aaa;
    height: 500px;
    width: 300px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 25px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.5);

    }

    .form div {
      display: flex;
    flex-direction: column;
    align-self: center;
    justify-items: center;
    margin: 5px;
    }
  
  .form label {
    display: flex;
    align-self: center;
    margin: 5px;
  }
  
  .form input[type="text"],
  .form input[type="password"] {
    margin: 5px;
    height: 28px;
  }
  
  .form button {
   margin: 10px;
   height: 40px;
   width: 130px;
   padding: 5px;
   font-family: 'Roboto', sans-serif;
   font-size: 15px;
   cursor: pointer;
   border: none;
   border-radius: 3px;
   background-color: #eb550ae3;
   color: white;
  }  

  .bgContainer {
    background-image: url("https://res.cloudinary.com/dmpgjexg4/image/upload/e_blur:150,o_50/v1638969432/pexels-ella-olsson-1640773_u3h8nw.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 700px;
    padding-top: 30px;
  }
  