
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    h1 {
        font-size: 24px;
        margin-top: 15px;
    }

    div {
        margin-top: 15px;
    }

    button {
        margin-top: 15px;
    }
    
}

.headerCol {
    width: 350px;

    div {
        margin-top: 10px;
    }

    input {
        width: 300px;
        height: 100px;
        margin-bottom: 10px;
    }
}
