.root{
    padding-top: 1px;
    padding-bottom: 30px;
}
.sectionHeader{
    display: flex;
    align-items:center;

    Button {
        color: white;

    }
}

.headerText{
    color: black;
    font-family: 'Roboto', sans-serif;
}


//Legacy CSS below


.headerContainer{
    padding-top: 20px;
    padding-bottom: 10px;
    color: black;
    font-size: 32px;
    font-weight: 500;
    width: auto;
}

.header{
    margin-left: 20px;
}

.cardContainer{
    display: flex;
    flex-wrap: wrap;
}

.seeAllButton{
    float: right;
    height: 35px;
    margin-top: 5px;
    margin-right:  20px;
    
}

