.footerContainer {
    background-color: #EB550A;
    border: 0px solid #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    width: 100%;
    margin-top: 25px;
}

.footerLogo {

}

.ManagerPage {
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.023);
    color: rgb(235, 235, 235);
    padding: 10px;
    height: 50px;
}

.footerCopyright {
    background-color: #EB550A;
    border: 0px solid #ccc;
    padding: 15px;
    padding-left: 50px;
    width: 100%;
}

