.navigationBar{
    padding-top: 10px;
    padding-bottom: 10px;

}

// Legacy CSS below


.navigationBarHeader{
    color:#041F42;
    font-size: 28px;
    font-weight: 800;
}

.navigationBarUserAccount{
    display: flex;
    flex-direction: row;
}

.navigationBarButton{
    background-color: white;
    margin: 5px;
    width: 85px;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.CustomBtn {
    color: white;
    background-color: black;
}