
.cardImage {
     display: flex;
   justify-content: center;
}


.cardCustom p{
    color: black;
}

// Legacy CSS below
.cardCustom{
   width: 225px;
   height: 350px;
   padding: 15px;
   margin: 25px;
   border-radius: 5px;
  
}

.cardCustom img {
    width: auto;
    height: 125px;
    margin: 15px;
}

.restCardContainer p {
    margin: 7px;
}