.sidebarSticky{
    position:sticky;
    top:25px;
}




.restaurantHeader{
    position: relative;
}

.restaurantHeaderImage{
    max-height:300px;
    width: 100%;
    object-fit: cover;
}

.restaurantBannerFader{
}

.restaurantInfo{
    color:white;
    position: absolute;
    top: 0px;
    background-color: rgba(128, 128, 128, 0.521);
    height: 100%;
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
}