.form {
    display: flex;
    flex-direction: column;
    border: 1px solid #aaa;
    height: 850px;
    width: 500px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    }

    .form div {
      display: flex;
      flex-direction: row;
    align-self: center;
    margin: 15px;
    }
  
  .form label {
    display: flex;
    width: 100px;
    padding: 2px;
    margin: 5px;
  }
  
  .form input[type="text"],
  .form input[type="password"] {
    margin: 15px;
    height: 28px;
  }
  
  .form button {
   margin-left: auto;
   margin-right: auto;
   margin-top: 15px;
   height: 40px;
   width: 130px;
   padding: 5px;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   cursor: pointer;
   border: none;
   border-radius: 3px;
   background-color: #EB550A;
   color: white;
  }  