.App {
    color: #f21e08

}
.container {
    color: #f21e08;
    background-color: #f21e08;

}

.errorMsg {
  max-width: 350px;
  color: #f21e08;
  padding: 2px 0;
  margin-top: 2px;
  font-size: 14px;
  font-weight: 300;
}

.LogInForm {
  display: flex;
  flex-direction: column;
  border: 1px solid #aaa;
  height: 400px;
  width: 300px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  }

  .LogInForm div {
    display: flex;
  flex-direction: column;
  align-self: center;
  margin: 5px;
  }

.LogInForm label {
  display: flex;
  align-self: center;
  margin: 5px;
}

.LogInForm input[type="text"],
.LogInForm input[type="password"] {
  margin: 5px;
  height: 28px;
}

.LogInForm button {
 margin: 10px;
 height: 40px;
 width: 130px;
 padding: 5px;
 font-family: 'Roboto', sans-serif;
 font-size: 15px;
 cursor: pointer;
 border: none;
 border-radius: 3px;

 background-color: #eb550ae3;
 color: white;
}  

.SuggestionContainer {
    font-family: 'Roboto', sans-serif;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    
}

.SuggestionContainer p {
    display: flex;
    width: 300px;
    font-size: 24px;
}

.SuggestionContainer button {
    width: 210px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #eb550ae3;
    color: white;
}

.bgContainer {
  background-image: url("https://res.cloudinary.com/dmpgjexg4/image/upload/e_blur:150,o_50/v1638969432/pexels-ella-olsson-1640773_u3h8nw.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  min-height: 700px;
  padding-top: 30px;
}

